**Start Pandas Tutorial**

In [1]:
import numpy as np
import pandas as pd

In [2]:
dict1={"name":['ASHISH','ARNAV','AJIT','ROHINI'],
      "marks":[94,34,24,17],
      "city":['WAGHOLI','PUNE','DUBAI','MUMBAI']}

In [3]:
df= pd.DataFrame(dict1)

In [4]:
df

     name  marks     city
0  ASHISH     94  WAGHOLI
1   ARNAV     34     PUNE
2    AJIT     24    DUBAI
3  ROHINI     17   MUMBAI

In [5]:
df.to_csv('friends.csv')

In [6]:
df.to_csv('friends1.csv',index=False)

In [7]:
df.head(2)

     name  marks     city
0  ASHISH     94  WAGHOLI
1   ARNAV     34     PUNE

In [8]:
df.head(1)

     name  marks     city
0  ASHISH     94  WAGHOLI

In [9]:
df.tail(2)

     name  marks    city
2    AJIT     24   DUBAI
3  ROHINI     17  MUMBAI

In [10]:
df.describe()

           marks
count   4.000000
mean   42.250000
std    35.198248
min    17.000000
25%    22.250000
50%    29.000000
75%    49.000000
max    94.000000

In [11]:
df.to_csv('ashish.csv',index=False)

In [12]:
ashish=pd.read_csv('ashish.csv')

In [13]:
ashish

     name  marks     city
0  ASHISH     94  WAGHOLI
1   ARNAV     34     PUNE
2    AJIT     24    DUBAI
3  ROHINI     17   MUMBAI

In [14]:
ashish['speed'][0]=50

KeyError: 'speed'

In [ ]:
ashish

In [ ]:
ashish.to_csv('ashish.csv',index=True)

In [ ]:
ashish.index=['first','second','third','fourth']

In [ ]:
ashish

In [ ]:
ser=pd.Series(np.random.rand(34))

In [ ]:
ser

In [ ]:
newdf= pd.DataFrame(np.random.rand(334,5),index=np.arange(334))

In [ ]:
type(newdf)

In [ ]:
newdf.describe()

In [ ]:
newdf.head()

In [ ]:
newdf[0][0]='ARNAV'

In [ ]:
newdf.dtype

In [ ]:
newdf

In [ ]:
newdf.index

In [ ]:
newdf.columns

In [ ]:
newdf.to_numpy()

In [ ]:
newdf[0][0]=0.3

In [ ]:
newdf.head

In [ ]:
newdf.T

In [ ]:
newdf.head

In [ ]:
newdf.head()

In [ ]:
newdf.sort_index(axis=1,ascending=False)

In [ ]:
newdf.head()

In [ ]:
type(newdf[0])

In [ ]:
newdf2=newdf.copy()

In [ ]:
newdf2[0][0]=97862

In [ ]:
newdf

In [ ]:
newdf

In [ ]:
newdf.loc[0,0] = 654

In [ ]:
newdf.head(2)

In [ ]:
newdf.columns=list("ABCDE")

In [ ]:
newdf

In [ ]:
newdf.loc(0,'A')=1234

In [ ]:
newdf.loc[0,'A']=1234

In [ ]:
newdf.head(2)

In [ ]:
newdf.drop(0,axis=1)

In [ ]:
newdf.head()

In [ ]:
newdf.loc[[1,2],[c,d]]

In [ ]:
newdf.loc[[1,2],['c','d']]

In [ ]:
newdf.loc[[1,2],['A','D']]

In [ ]:
newdf.head()

In [ ]:
newdf.loc[[:],['C','D']]

In [ ]:
newdf.loc[:,['C','D']]

In [ ]:
newdf.loc[[1,2],:]

In [ ]:
newdf.loc[(newdf['A']<0.3)& (newdf['C']>0.1)]

In [ ]:
newdf.head(2)

In [ ]:
newdf.iloc[0,4]

In [ ]:
newdf.iloc[[0,1],[1,2]]

In [ ]:
newdf.head(3)

In [ ]:
newdf.drop([1,5],axis=0,inplace=True)

In [ ]:
newdf.head(3)

In [ ]:
newdf.reset_index(drop=True,inplace=True)

In [ ]:
newdf.head(3)

In [ ]:
newdf['B'].isnull()

In [ ]:
newdf['B']=None

In [ ]:
newdf

In [ ]:
newdf['B'].isnull()

In [ ]:
newdf.loc[:,['B']]=77

In [ ]:
newdf.head(3)

In [ ]:
newdf.dropna()

In [ ]:
df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
                   "toy": [np.nan, 'Batmobile', 'Bullwhip'],
                   "born": [pd.NaT, pd.Timestamp("1940-04-25"),
                            pd.NaT]})

In [ ]:
df

In [ ]:
df.dropna()

In [ ]:
df.dropna(how='all')

In [ ]:
df.drop_duplicates(subset=['name'])

In [ ]:
df.drop_duplicates(subset=['name'],keep='last')

In [ ]:
df.shape

In [ ]:
df.info

In [ ]:
df['name'].value_counts(dropna=False)

In [ ]:
df.notnull()

In [ ]:
df.isnull()

In [ ]:
df.describe()

In [ ]:
newdf.describe()

In [ ]:
newdf.mean()

In [ ]:
newdf.corr()

In [ ]:
newdf.count()

In [ ]:
newdf.max()

In [ ]:
newdf.min()

In [ ]:
newdf.median()

In [ ]:
newdf.std()

In [15]:
data=pd.read_excel('ashish1.xlsx', sheet_name='Sheet1')

In [16]:
data

  trainno  speed     city
0  ASHISH     50  WAGHOLI
1   ARNAV     56     PUNE
2    AJIT   5564    DUBAI
3  ROHINI   5354   MUMBAI

In [17]:
data.iloc[0,0]=34

In [18]:
data.to_excel('ashish1.xlsx', sheet_name='Sheet2')